@import "_variables.scss";
section:not(.section1) {
   padding-left: calc($largeurSideBar/2);
 }
 
#Accueil{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    left: -60px;
    top: -40px;
    width: calc(100vw + 60px);
    z-index: 1;

    .section1{
        height: 100vh;
        background-image: url('../../img/visuel-home.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;

        &>div{
            width: 50%;
            position: relative;
            left:80px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h6{
                text-transform: uppercase;
                font-size: 2em;
                color: #fff;
                text-shadow: 0px 1px 3px $vert3;                
                margin: 0;
                padding: 0;
            }
            p{
                color: $vertSombre1;
                color: #fff;
                font-size: 1.5em;
                padding: 15px;
                font-weight: bold;
                background-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(10px);
                text-shadow: 0px 0px 1px $vertSombre1;
            }
        }
    }

    .section2{
        position: relative;
        top: -200px;
        display: flex;
        justify-content: center;
        padding: 0 !important;
        width: calc(100vw - $largeurSideBar);

        &>div{
            width:80%;
            margin:0 auto;
            padding:0;
            display: flex;
            justify-content: space-between;

            &>div{
                width: 30%;
                height: 50vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0px 0px 5px $gris;

               &:nth-child(1){
                &>div{
                    padding: 10px;
                    min-height: 50%;
                    &:nth-child(1){
                        background-image: linear-gradient(90deg, #00915a, #5ec66b);
                    }
                    &:nth-child(2){
                        background-color: #fff;
                        color: $gris;
                    }
                }
               }

               &:nth-child(2){
                &>div{
                    padding: 10px;
                    min-height: 50%;
                    &:nth-child(1){
                        background-image: linear-gradient(90deg, #2491ee, #1cc7f2);
                    }
                    &:nth-child(2){
                        background-color: #fff;
                        color: $gris;
                    }
                }
               }
               &:nth-child(3){
                &>div{
                    padding: 10px;
                    min-height: 50%;
                    &:nth-child(1){
                        background-image: linear-gradient(90deg, #7e50a8, #d563a7);
                    }
                    &:nth-child(2){
                        background-color: #fff;
                        color: $gris;
                    }
                }
               }
                
                &>div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #fff;

                    &:nth-child(1){
                        min-height: 50%;
                        
                        i{
                            font-size: 2.5em;
                            color: #fff;
                        }
                        h4{
                            text-align: center;
                            margin: 0;
                            padding: 0;
                        }
                        p{
                            margin: 0;
                            padding: 0;
                        }
                    }

                }
            }
        }
    }

    .section3{
        padding-top: 20px;
        padding-bottom: 20px;

        &>h4{
            font-size: 2em;
        }

        &>div{
            display: flex;
            justify-content: space-around;
            width: 85%;
            &>div{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 25%;
                gap: 10px;
                &:nth-child(1){
                    &>div{
                        background-image: url("../../img/inscription.webp");
                    }
                }
                &:nth-child(2){
                    &>div{
                        background-image: url("../../img/justificatifs.jpg");
                    }
                }
                &:nth-child(3){
                    &>div{
                        background-image: url("../../img/approved.webp");
                    }
                }
                &>div{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    border: 3px solid $vertSombre1;
                    position: relative;
                    background-position: center center;
                    background-size: cover;
                    object-fit: contain;



                    &>span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: $vertSombre1;
                        color: #fff;
                        box-shadow: 0 0 5px $gris;
                    }
                }
                h4{
                    color:$vertSombre1;
                    text-align: center;
                    font-size: 1.3em;
                }
            }

            &>a{
                background-color: $vertClair;
                padding: 10px;
                text-decoration: none;
                color: #fff;
                transition: 0.2s;

                &:hover{
                    background-color: $vertSombre1;
                    transition: 0.2s;
                }
            }
           
        }
    }
    .section4{
        display: flex;
        gap: 10px;
        min-height: 90vh;
        width: calc(95%);
        padding: 40px;
        background-color: #fff;
        &>div{
            width:90%;
            margin: 0 auto; 
             
                     
            &:nth-child(1){
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;

                h4{
                    color: $vertSombre1;
                    font-weight: bold;
                    font-size: 1.6em;
                    text-align: center;
                }

                div{
                    display: flex;
                    justify-content: center;

                    &>a{
                        background-color: $vertClair;
                        padding: 10px;
                        text-decoration: none;
                        color: #fff;
                        transition: 0.2s;
        
                        &:hover{
                            background-color: $vertSombre1;
                            transition: 0.2s;
                        }
                    }
                }

                
            }
            &:nth-child(2){
                width: 50%;
                background-image: url('../../img/Banque-en-ligne.jpg');
                background-position: center center;
                background-size: cover;
            }
        }
    }
    .section5{
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../img/bg.jpg');
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: calc(100vw - $largeurSideBar);
        &::before{
            background-color: #0c4e3a69;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        h4{
            z-index: 2;
            font-size: 1.8em;
            color:#fff;
            text-transform: uppercase;
            position: relative;
            text-shadow: 0 0 2px $vert1;
        }
    }
    .section6{
        display: flex;
        gap: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 80%;

        &>div{
            width: calc(50% - 5px);
            min-height: 70vh;
            &:nth-child(1){
               background-image: url('../../img/amiesshoppingete.jpg');
               background-position: center center;
               background-size: cover;
              
            }
            &:nth-child(2){
                display: flex;
                flex-direction: column;
                justify-content: center;

                h4{
                    font-size: 1.3em;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                    color: $vertSombre1;
                }
                p{
                    font-size: 1.2em;
                    

                    &:nth-child(4){
                        display: flex;
                        justify-content: center;

                        &>a{
                            padding: 10px;
                            color: #fff;
                            text-decoration: none;
                            background-color: $vert1;
                            transition: 0.2s;

                            &:hover{
                                transition: 0.2s;
                                background-color: $vertSombre1;
                            }
                        }
                    }
                }
            }
        }
    }
    .section7{
        min-width:85%;
        min-height: 100vh;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #fff;
        

        &>div{
            display: flex;            
            gap: 5px;
            &>div{
                &:nth-child(1){
                    width:calc(40% - 3px);
                    margin: 0;
                    padding: 0;

                    &>h4{
                        color:$vertSombre1;
                        text-align: center;
                        font-size: 1.5em;
                    }
                    #accordion{
                        list-style-type: none;

                        li{
                            padding: 5px;
                            box-shadow: 1px 1px 3px $gris;
                            position: relative;
                            margin: 5px 0;                            

                            label{
                                width: calc(100% - 20px);
                                display: block;
                                position: relative;
                                cursor: pointer;
                                padding: 15px 10px;
                                background-color: $vertSombre1;
                                color: #fff;

                                span{
                                    position: absolute;
                                    right: 20px;
                                    top: 7px;
                                    font-weight: bold;
                                    color: #fff;
                                    font-size: 1.5em;
                                }
                            }
                            
                            .contenter{
                                height: 0;
                                overflow: hidden;
                                transition: 0.5s;

                                p{
                                    &:last-child{
                                        display: flex;
                                        justify-content: center;

                                        a{
                                            padding: 5px;
                                            background-color: $vert1;
                                            transition: 0.2s;
                                            text-decoration: none;
                                            color: #fff;

                                            &:hover{
                                                background-color: $vertSombre1;
                                                transition: 0.2s;
                                            }
                                        }
                                    }
                                }
                            }

                            input{ 
                                display: none;
                                &:checked + label{
                                    span{
                                        transform: rotate(90deg);
                                        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                                    }
                                }                              
                                &:checked + label + .contenter{
                                   height: 200px;
                                   transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                                }
                            }                         
                        }
                    }
                }
                &:nth-child(2){
                    padding: 10px 15px;
                    width: calc(60% - 20px);

                    &>h4{
                        color: $vertSombre1;
                        text-align: center;
                        font-weight: bold;
                        font-size: 1.4em;
                    }

                    &>p{

                        &:nth-child(1){
                            font-size: 22px;
                        }
                    }

                    &>label{
                        display: block;
                        width: 100%;
                    }
                    &>select{
                        width: 50%;
                        outline: none;
                        padding: 5px;
                        border: unset;
                    }

                    &>div{
                        background-color: grey;
                        &>p{
                            span{
                                color:$vertSombre1;
                            }
                        }

                        &:nth-child(2){
                            background-color: green;
                        }                       
                    }
                }
            }
        }
    }

   
   
}